body {
    background-color: #e0c684;
}

table, th, td {
    border: 1px solid black;
    width: 80%;
    height: 40px;
    margin: 20px auto;
    table-layout: fixed;
}

td {
    padding-left: 15px;
    padding-right: 10px;
    background-color: white;
}

thead {
    background-color: cornflowerblue;
}

h1 {
    text-align: center;
}

#inputDiv {
    background-color: cornflowerblue;
    border: solid black;
    width: 80%;
    margin: 0 auto;
    border-style: double;
}

.inputs {
    margin-bottom: 15px;
    margin-left: 20px;
}

#monthlyDiv {
    border: 1px solid black;
    width: 30%;
    margin: 0 auto;
    background-color: cornflowerblue;
    color: white;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}

h2 {
    margin-left: 15px;
}

#salaryButton {
    margin-left: 15px;
}